h1{
  text-align: center;
}

.cart{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.checkout-button{
  height: 50px;
  width: 100px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #317B22
}

.to-checkout{
  text-decoration: none;
  color: white;
}
