.user-info{
  /* height: 300px; */
  width: 300px;
  box-sizing: content-box;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.i-s{
  margin: 0px;
}

.info-container{
  position: relative;
}

.sub-t{
  margin: 2.5px;
}

.info{
  font-size: large;
  position: relative;
  left: 10px;
  word-wrap: break-word;
}

.info-input{
  width: 300px;
}

.info-buttons{
  display: flex;
  justify-content: space-around;
  margin: 30px;
  margin-bottom: 0px;
}

.info-button{
  height: 30px;
  width: 80px;
  border-radius: 5px;
  color: white;
}


button{
  background-color: #317B22;
}