.product-container{
  position: relative;
  height: 200px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

.dash-img{
  height: 175px;
  width: 175px;
}

.dash-specs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buy-buttons{
  position: absolute;
  top: 70px;
  bottom: 70px;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.buy-button{
  height: 25px;
  width: 100px;
  margin: 5px;
}