@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans');

.home{
  width: 100vw;
  position: relative;
  
}



.heading {
  color: rgb(0, 5, 3) !important;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
}

p {
  font-family: 'Open Sans', 'Sans-Serif';
  color: black;
  font-size: 1.5em;
  font-family: 'Anton', sans-serif;
  font-weight: bolder;
}

.slide {
  display: none;
  max-width: 900px;
  text-align: center;
}

.active {
  width: 100%;
  height: 700px;
  display: block;
  position: relative;
  background: linear-gradient(to bottom, transparent 0%, white 100%);
}

.slider {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 700px;
  width: 100%;
}

.slider-items {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.noButton {
  display: none;
}

.button {
    border-radius: 30px;
    border: none;
    background: #317B22;
    color: #FFFFFF;
    font-family:'Open Sans', 'Sans-Serif';
    font-weight: bold;
    font-size: 105%;
    text-transform: uppercase;
    padding: 6px 40px 6px 40px;
}

.secondButton {
  border-radius: 30px;
  border-color: #317B22;
  background-color: Transparent;
  border-style: solid;
  color: #317B22;
  font-family:'Open Sans', 'Sans-Serif';
  font-weight: bold;
  font-size: 105%;
  text-transform: uppercase;
  padding: 5px 40px 5px 40px;
  margin:  0px 0px 0px 10px;
}

button:hover {
  text-decoration: none;
  background-color: #67E0A3;
}

button:focus {
  outline: 0;
}

.secondButton:hover {
  text-decoration: none;
  background-color: Transparent;
  border-color: #67E0A3 ;
  color: #67E0A3 ;
}

.slider-text {
  width: 100vw;
}

.mainSlide {
  font-size: 3em;
  letter-spacing: 3px;
  font-family: 'Anton', sans-serif;
}

.fa {
  color: #707070;
}

.backArrow{
  height: 25px;
  width: 15px;
  position: absolute;
  top: 75px;
  background-color: #67E0A3;
  border-radius: 5px;
  z-index: 1;
}

.left{
  position: absolute;
  left: 25px;
}

.right{
  position: absolute;
  right: 25px;
}

.background-img{
  z-index: -1;
  height: 700px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  
}

.home-boxes{
  box-sizing: content-box;
  position: absolute;
  top: 250px;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  margin-right: 5vw;
  margin-left: 5vw;
}

.home-box{
  box-sizing: content-box;
  background-color: white;
  height: 400px;
  width: 25vw;
  margin: 10px;
  box-shadow: 5px 7.5px rgb(183, 182, 182);
  border-radius: 2.5px;
  position: relative;
  display: flex;
  flex-direction: column
}


.home-img{
  height: 200px;
  width: 80%;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25%
}

.home-link{
  width: 80%;
  position: absolute;
  bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 30px;
  border: none;
  background: #317B22;
  color: #FFFFFF;
  font-family:'Open Sans', 'Sans-Serif';
  font-weight: bold;
  font-size: 105%;
  text-transform: uppercase;
  padding: 6px 20px 6px 20px;
}

.home-link-link{
  text-decoration: none;
  color: white;
}

.sm{
  width: 30vw;
}

.lg{
  width: 64vw;
}

@media(max-width:960px){
  .home-boxes{
    flex-wrap: wrap;
  }

  .home-box{
    width: 40vw;
  }
}

@media(max-width:700px){
  .home-boxes{
    flex-direction: column;
    align-items: center;
  }

  .home-box{
    width: 50vw;
  }
}